.carousel {
  --radius: 25vw;
  --width: 35vw;
  --radio-size: 15px;
  padding: 2rem 1rem;
  height: calc(var(--width) / 1.61);
  perspective: calc(2 * var(--radius));
  transform-style: preserve-3d;
}

.carousel input[type="radio"] {
  display: inline-block;
  width: var(--radio-size);
  height: var(--radio-size);
  padding: 0;
  border: 0;
  position: relative;
  left: calc(50% - 2.5 * var(--radio-size));
  top: 95%;
  border-radius: 50%;
  background-color: var(--active);
  opacity: 0.5;
  transition: opacity 0.25s ease-in-out;
}
.carousel input[type="radio"]:hover { opacity: 0.75; }
.carousel input[type="radio"]:checked { opacity: 1; }

.carousel label {
  all: unset;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 66% 34%;
  position: absolute;
  width: var(--width);
  height: calc(0.8 * var(--width) / 1.61);
  left: calc(50% - var(--width) / 2);
  top: calc(50% - var(--width) / 3.21);
  background-color: var(--dark-1);
  border-radius: 5px;
  user-select: none;
  transition: transform 0.3s ease-in-out;
  overflow: hidden;
  cursor: default;
}

.carousel > span { display: block }
.carousel .preview {
  grid-row: 1/-1;
  grid-column: 1;
}
.carousel .video-head {
  grid-area: 1/2;
  border-top-right-radius: 5px;
}
.carousel .description {
  grid-area: 2/2;
  overflow: hidden;
  padding: 7px;
  user-select: text;
}

.carousel .preview,
.carousel .preview > * {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.carousel a { transition: none; }

#carousel-1:checked ~ label:nth-of-type(4),
#carousel-2:checked ~ label:nth-of-type(5),
#carousel-3:checked ~ label:nth-of-type(1),
#carousel-4:checked ~ label:nth-of-type(2),
#carousel-5:checked ~ label:nth-of-type(3) {
  transform: translate3d(calc(-0.58 * var(--radius)), 5vh, calc(-1.8 * var(--radius)));
}

#carousel-1:checked ~ label:nth-of-type(5),
#carousel-2:checked ~ label:nth-of-type(1),
#carousel-3:checked ~ label:nth-of-type(2),
#carousel-4:checked ~ label:nth-of-type(3),
#carousel-5:checked ~ label:nth-of-type(4) {
  transform: translate3d(calc(-0.95 * var(--radius)), 2.5vh, calc(-0.65 * var(--radius)));
}

#carousel-1:checked ~ label:nth-of-type(2),
#carousel-2:checked ~ label:nth-of-type(3),
#carousel-3:checked ~ label:nth-of-type(4),
#carousel-4:checked ~ label:nth-of-type(5),
#carousel-5:checked ~ label:nth-of-type(1) {
  transform: translate3d(calc(0.95 * var(--radius)), 2.5vh, calc(-0.65 * var(--radius)));
}

#carousel-1:checked ~ label:nth-of-type(3),
#carousel-2:checked ~ label:nth-of-type(4),
#carousel-3:checked ~ label:nth-of-type(5),
#carousel-4:checked ~ label:nth-of-type(1),
#carousel-5:checked ~ label:nth-of-type(2) {
  transform: translate3d(calc(0.58 * var(--radius)), 5vh, calc(-1.8 * var(--radius)));
}

@media all and (max-width: 600px) {
  .carousel { display: none; }
}