:root {
    --dark-1: #191919;
    --dark-2: #161616;
    --dark-3: #111111;
    --dark-4: #0d0d0d;
    --dark-5: #070707;
    --focus: #222;
    --hover: #333;
    --active: #f5a63c;
    --transparent-active: #f5a63c88;
    --text: #e4e3e1;
}

* {
    box-sizing: content-box;
    scrollbar-width: thin;
    scrollbar-color: var(--active) transparent;
}

@font-face {
    font-family: Montserrat;
    src: url("../fonts/Montserrat.ttf");
}

@font-face {
    font-family: Comfortaa;
    src: url("../fonts/Comfortaa.ttf");
}

hr {
    border-color: var(--active);
    border-style: dashed;
}

.icon {
    vertical-align: baseline;
    pointer-events: none;
}
.no-select { user-select: none; }

a {
    text-decoration: none;
    outline: none;
    color: var(--active);
}

img { user-select: none; }

.one-line {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.profile {
    border-radius: 50%;
    vertical-align: middle;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

::-webkit-scrollbar {
    width: 15px;
    height: 0;
}
::-webkit-scrollbar-thumb {
    border: 5px solid transparent;
    background-clip: padding-box;
    -webkit-border-radius: 20px;
    background-color: transparent;
}
::-webkit-scrollbar-thumb { background-color: var(--transparent-active); }
::-webkit-scrollbar-thumb:hover { background-color: var(--active); }
::-webkit-scrollbar-button { display: none; }
::-webkit-scrollbar-corner { background-color: transparent; }

::selection {
    background: var(--active);
    color: var(--dark-2);
}
