input, button {
    all: unset;
    color: var(--active);
    font-family: Comforta, sans-serif;
    vertical-align: middle;
}

input {
    padding: 0.5rem 1rem;
    border: solid 1px var(--active);
    border-radius: 0.5rem;
}
input::placeholder { color: var(--active); }
input:focus { border: solid 3px var(--active); }

input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    height: 10px;
    width: 10px;
    background: var(--active);
    border-radius: 50%;
}

button { cursor: pointer; }

.semitransparent, a {
    opacity: 0.7;
    transition: opacity 0.25s ease-in-out;
}
.semitransparent:hover,
.semitransparent:focus,
a:hover,
a:focus { opacity: 1 !important; }