header {
    padding: 0.75rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-column: 1/-1;
    background-color: var(--dark-3);
}

.logo {
    font-family: Montserrat, sans-serif;
    font-size: 1.5rem;
    color: var(--active);
    cursor: pointer;
}

.search-wrapper {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    justify-content: stretch;
    align-items: stretch;
}

.search-input {
    width: 25vw;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.search-button {
    background-color: var(--active);
    padding: 0 0.5rem;
    border-top-right-radius: 15%;
    border-bottom-right-radius: 15%;
    margin-right: 0.5rem;
}

header > div:last-of-type { display: flex; }

.drop-menu { position: relative; }
.drop-menu > button {
    background: var(--active);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    text-align: center;
    margin-left: 10px;
}
.drop-content {
    display: none;
    position: absolute;
    right: 0;
    background: var(--dark-1);
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.drop-menu:hover .drop-content,
.drop-menu button:focus + .drop-content,
.drop-content:focus-within { display: block; }

.drop-content button {
    display: block;
    padding: 0.5rem;
    width: 100px;
    text-align: center;
    transition: background-color 0.25s ease-in-out;
    border-radius: 0.5rem;
}

.drop-content button:focus { background-color: var(--focus); }
.drop-content button:hover { background-color: var(--hover); }
.drop-content .icon { float: left; }

@media all and (max-width: 400px) {
    header .icon {
        width: 15px !important;
        height: 15px !important;
    }
    .search-input {
        width: 20vw;
        font-size: 0.8rem;
    }
}
@media all and (max-width: 600px) {
    .search-wrapper {
        position: static;
        left: 0;
        transform: none;
    }
    .logo span { display: none }
}