.info > div {
    margin: 1rem;
    padding: 1rem;
    border-radius: 7px;
    background-color: var(--dark-2);
    text-align: center;
    cursor: default;
}

.links {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}
.links a {
    display: block;
    margin: 5px;
}
