html, body { height: 100vh; }

body {
    margin: 0;
    background: var(--dark-5);
    color: var(--text);
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr auto;
    font-family: Comfortaa, sans-serif;
}

aside { background-color: var(--dark-4); }
.streamers-list { grid-area: 2/1; }
.info { grid-area: 3/1; }

main {
    grid-area: 2/2/-1/span 2;
    overflow-y: auto;
}