.videos {
  display: grid;
  padding: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: 1fr;
  justify-content: center;
  align-items: stretch;
  grid-gap: 16px;
}

.video {
  border-radius: 5px;
  display: grid;
  grid-template-rows: 1fr 60px;
}
.video .preview > * {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.video .video-head { border-bottom-left-radius: 5px; }
.video .more { border-bottom-right-radius: 5px; }

.videos .video { grid-template-columns: 1fr auto; }

.preview {
  position: relative;
  grid-row: 1;
  grid-column: 1/-1;
}
.videos .video-head { grid-area:  2/1; }
.videos .video .more {
  position: relative;
  width: 40px;
  grid-area: 2/2;
  background-color: var(--hover);
}
.videos .video .more::after {
  content: "";
  display: block;
  width: 20px;
  height: 15px;
  position: absolute;
  right: 10px;
  top: 10px;
  background-image: url("../icons/more.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.preview img {
  display: block;
  object-fit: fill;
  width: 100%;
  height: 100%;
}

.background,
.preview-items {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.preview-items::before,
.preview-items::after {
  z-index: 1;
  cursor: pointer;
}

.preview-items[data-live="true"]::before,
.preview-items[data-duration]::after,
.preview-items[data-viewers]::after {
  position: absolute;
  white-space: nowrap;
  width: max-content;
  height: min-content;
  border-radius: 5px;
  color: var(--active);
  font-weight: bold;
  font-size: 0.8rem;
  padding: 5px;
}
.preview-items::before {
  left: 5px;
  top: 5px;
  background-color: var(--hover);
}
.preview-items::after {
  right: 5px;
  bottom: 5px;
  background-color: var(--focus);
}

.preview-items[data-live="true"]::before { content: "LIVE"; }
.preview-items[data-duration]::after { content: attr(data-duration); }
.preview-items[data-viewers]::after { content: attr(data-viewers)" viewers"; }

.background {
  background: var(--transparent-active);
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}
.background::after {
  content: "";
  display: block;
  width: 20%;
  height: 20%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-image: url("../icons/paw.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
.background:hover { opacity: 1; }

.video-head {
  display: grid;
  background: var(--hover);
  grid-template-rows: auto 1fr;
  grid-template-columns: min-content auto;
  padding: 10px;
  grid-column-gap: 10px;
}

.video-head .profile {
  grid-row: 1/-1;
  grid-column: 1;
}
.video-head .video-name {
  grid-area: 1/2;
  font-size: 1.2rem;
  font-weight: bold;
}
.video-head .streamer-name { grid-area: 2/2; }

footer {
  margin: 1rem;
  text-align: center;
}
footer a .icon { vertical-align: middle; }